# Data
data/

# Model weights
denoising_model.pth
upscale_model.pth

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cache
.ruff_cache/
